.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.691406;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{width:7.084000px;}
._2{width:40.480000px;}
._a{width:57.596000px;}
._7{width:72.336000px;}
._6{width:99.132000px;}
._d{width:101.640000px;}
._9{width:138.336000px;}
._8{width:192.104000px;}
._3{width:231.220000px;}
._c{width:263.208000px;}
._0{width:277.640000px;}
._4{width:302.148000px;}
._5{width:319.220000px;}
._1{width:495.352000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:32.000000px;}
.fs2{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs0{font-size:60.000000px;}
.fs1{font-size:64.000000px;}
.y28{bottom:3.654449px;}
.y26{bottom:3.873001px;}
.y2b{bottom:4.539450px;}
.y25{bottom:17.672000px;}
.y0{bottom:39.500000px;}
.y23{bottom:43.026001px;}
.y21{bottom:43.602011px;}
.y22{bottom:70.624004px;}
.y20{bottom:74.990033px;}
.y24{bottom:94.954017px;}
.y1f{bottom:138.235028px;}
.y1e{bottom:150.884015px;}
.y2a{bottom:156.332811px;}
.y1d{bottom:175.546011px;}
.y1c{bottom:184.745012px;}
.y1b{bottom:193.943986px;}
.y1a{bottom:203.143022px;}
.y19{bottom:225.626984px;}
.y18{bottom:238.275983px;}
.y17{bottom:263.574020px;}
.y16{bottom:276.223022px;}
.y15{bottom:288.872022px;}
.y14{bottom:314.170026px;}
.y13{bottom:339.467999px;}
.y12{bottom:352.117017px;}
.y11{bottom:364.766004px;}
.y10{bottom:390.064008px;}
.yf{bottom:415.362012px;}
.ye{bottom:440.660016px;}
.yd{bottom:465.958020px;}
.yc{bottom:491.256024px;}
.yb{bottom:516.553998px;}
.ya{bottom:541.852017px;}
.y9{bottom:567.150006px;}
.y8{bottom:592.448010px;}
.y7{bottom:617.746015px;}
.y6{bottom:643.044019px;}
.y5{bottom:668.342015px;}
.y4{bottom:693.640012px;}
.y3{bottom:718.938016px;}
.y2{bottom:767.144012px;}
.y1{bottom:785.330013px;}
.y29{bottom:808.283788px;}
.y27{bottom:808.633787px;}
.ha{height:15.232450px;}
.h6{height:23.296875px;}
.h5{height:23.312500px;}
.h9{height:29.250000px;}
.h4{height:32.054688px;}
.hb{height:32.437500px;}
.h8{height:33.328125px;}
.h2{height:43.681641px;}
.h3{height:46.593750px;}
.h7{height:109.800003px;}
.h1{height:789.500000px;}
.h0{height:841.950012px;}
.w3{width:66.249991px;}
.w2{width:110.499995px;}
.w5{width:153.182452px;}
.w6{width:168.932452px;}
.w4{width:248.432452px;}
.w1{width:522.500000px;}
.w0{width:595.349976px;}
.x5{left:13.325000px;}
.x7{left:14.469000px;}
.x8{left:21.125000px;}
.xa{left:33.283775px;}
.x0{left:37.500000px;}
.x2{left:72.000000px;}
.x4{left:75.250000px;}
.x1{left:150.000000px;}
.x3{left:216.000000px;}
.x9{left:316.033775px;}
.xb{left:358.783774px;}
.x6{left:398.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{width:9.445333pt;}
._2{width:53.973333pt;}
._a{width:76.794667pt;}
._7{width:96.448000pt;}
._6{width:132.176000pt;}
._d{width:135.520000pt;}
._9{width:184.448000pt;}
._8{width:256.138667pt;}
._3{width:308.293333pt;}
._c{width:350.944000pt;}
._0{width:370.186667pt;}
._4{width:402.864000pt;}
._5{width:425.626667pt;}
._1{width:660.469333pt;}
.fs3{font-size:42.666667pt;}
.fs2{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs0{font-size:80.000000pt;}
.fs1{font-size:85.333333pt;}
.y28{bottom:4.872599pt;}
.y26{bottom:5.164001pt;}
.y2b{bottom:6.052600pt;}
.y25{bottom:23.562667pt;}
.y0{bottom:52.666667pt;}
.y23{bottom:57.368001pt;}
.y21{bottom:58.136015pt;}
.y22{bottom:94.165339pt;}
.y20{bottom:99.986711pt;}
.y24{bottom:126.605356pt;}
.y1f{bottom:184.313371pt;}
.y1e{bottom:201.178687pt;}
.y2a{bottom:208.443748pt;}
.y1d{bottom:234.061348pt;}
.y1c{bottom:246.326682pt;}
.y1b{bottom:258.591982pt;}
.y1a{bottom:270.857363pt;}
.y19{bottom:300.835978pt;}
.y18{bottom:317.701310pt;}
.y17{bottom:351.432027pt;}
.y16{bottom:368.297363pt;}
.y15{bottom:385.162696pt;}
.y14{bottom:418.893368pt;}
.y13{bottom:452.623999pt;}
.y12{bottom:469.489356pt;}
.y11{bottom:486.354671pt;}
.y10{bottom:520.085344pt;}
.yf{bottom:553.816016pt;}
.ye{bottom:587.546688pt;}
.yd{bottom:621.277360pt;}
.yc{bottom:655.008032pt;}
.yb{bottom:688.738664pt;}
.ya{bottom:722.469357pt;}
.y9{bottom:756.200008pt;}
.y8{bottom:789.930681pt;}
.y7{bottom:823.661353pt;}
.y6{bottom:857.392025pt;}
.y5{bottom:891.122687pt;}
.y4{bottom:924.853349pt;}
.y3{bottom:958.584021pt;}
.y2{bottom:1022.858683pt;}
.y1{bottom:1047.106684pt;}
.y29{bottom:1077.711718pt;}
.y27{bottom:1078.178382pt;}
.ha{height:20.309933pt;}
.h6{height:31.062500pt;}
.h5{height:31.083333pt;}
.h9{height:39.000000pt;}
.h4{height:42.739583pt;}
.hb{height:43.250000pt;}
.h8{height:44.437500pt;}
.h2{height:58.242188pt;}
.h3{height:62.125000pt;}
.h7{height:146.400004pt;}
.h1{height:1052.666667pt;}
.h0{height:1122.600016pt;}
.w3{width:88.333322pt;}
.w2{width:147.333327pt;}
.w5{width:204.243270pt;}
.w6{width:225.243270pt;}
.w4{width:331.243270pt;}
.w1{width:696.666667pt;}
.w0{width:793.799967pt;}
.x5{left:17.766666pt;}
.x7{left:19.292000pt;}
.x8{left:28.166667pt;}
.xa{left:44.378367pt;}
.x0{left:50.000000pt;}
.x2{left:96.000000pt;}
.x4{left:100.333333pt;}
.x1{left:200.000000pt;}
.x3{left:288.000000pt;}
.x9{left:421.378367pt;}
.xb{left:478.378366pt;}
.x6{left:531.333333pt;}
}
